body{
  background-color: #0732A2;
}
.map {
    width: 100%;
    height: 75%;
    top: 0;
    left: 0;
    padding: 0;
    border: 3pt solid;
    border-color: #F94877;
    border-radius: 12px;


}
.foursquareSearch {
  margin: auto;
    width: 25%;
    text-align: center;
    background-color: #0732A2; /* Watermelon: #F94877*/
    color: #FFFFFF;
    padding-bottom: 3px;

}
